Options +FollowSymLinks

RewriteEngine on



# Sintaxis

# RewriteRule ^url-amigable$ url-no-amigable.php

RewriteRule ^vinculos$ afiliaciones-1.php

RewriteRule ^afiliaciones$ afiliaciones.php

RewriteRule ^blog-1$ blog-1.php

RewriteRule ^blog$ blog.php

RewriteRule ^capsula$ capsula.php

RewriteRule ^contacto$ contacto.php

RewriteRule ^faq$ faq.php

RewriteRule ^firma$ firma.php

RewriteRule ^index$ index.php

RewriteRule ^only$ only.php

RewriteRule ^servicios$ servicios.php

RewriteRule ^servicios1$ servicios1.php